/*Header*/
h2{
    margin-top: 42px;
    margin-left: 144px;
    position: sticky;
    top: 30px;
}

/* "The design thinking superpowers" - section*/
.main-title{
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;      
  font-size: 44px;
  line-height: 54px;
  letter-spacing: none;
  width: 100%;
  max-width: 518px;
  margin-top: 113px;
  margin-left: 144px;
  color: #2F281E;
}
.main-text{
  color: #9A9A9A;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal; 
  max-width: 583px;
  width: 100%;
  margin-top: 30px;
  margin-left: 144px;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: none;

}

/* "Watch the video" - link*/

a:link {
  background-color: transparent;
  text-decoration: none;
  color: #FF9900;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 16px;
  line-height: auto;
  letter-spacing: none;
  margin-left: 25px;
  text-align: left;
  border: none;
}
a:visited {
  color: #FF9900;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 16px;
  line-height: auto;
  letter-spacing: none;
  margin-left: 25px;
  text-align: left;
  border: none;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: #FF9900;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 16px;
  line-height: auto;
  letter-spacing: none;
  margin-left: 25px;
  text-align: left;
  border: none;
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  color: #FF9900;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 16px;
  line-height: auto;
  letter-spacing: none;
  margin-left: 25px;
  text-align: left;
  border: none;
  background-color: transparent;
  text-decoration: underline;
}

/* "We design tools to unveil your superpowers" - section*/
h3{ 
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;      
  font-size: 36px;
  line-height: auto;
  letter-spacing: none;
  width: 100%;
  max-width: 518px;
  margin-top: 110px;
  margin-left: 439px;
  text-align: center;
  color: #2F281E;
}
.container{
  margin-left: 144px;
  display: flex;

} 
.box{
  flex-wrap: wrap;
  flex-direction: row;
  justify-content:baseline;
  align-items: center;
}

.box__content{
  max-width: 240px;
  max-height: 204px;
  margin-top: 110px;
  margin-left: 46px;
}

section{
  display: inline-block;
}

.box.column{
  flex-wrap: wrap;
  flex-direction: column;
  justify-content:space-between;
  align-items: flex-start;
  align-items: left;
  
}
.box-column__content{
  max-width: 486px;
  max-height: 204px;
  margin-top: 110px;
  margin-left: 46px;
}


/*fonts for the four texts with icons*/

.icon-title{
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;      
  font-size: 22px;
  line-height: auto;
  letter-spacing: 0px;
  color: #2F281E;
}
.icon-txt{
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;      
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0px;
  color: #544837;
}

/*All the Buttons*/
.start-btn{
    width: 152px;
    height: 63.82px;
    margin-left: 144px;
    margin-top: 50px;
    border-radius: 6px;
    border-color: #FF9900;
    background-color: #FF9900;
    color: #FFFFFF;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal; 
    font-size: 16px;
    line-height: auto;
    letter-spacing: none;
    text-align: center;

}
.start-btn:hover {
    background-color: #ff9900d0;
    color: white;
  }
.sign-in{
    width: 102px;
    height: 46px;
    margin-left: 700px;
    margin-top: 35px;
    border-radius: 6px;
    border-width: thin;
    border-color: #BCD0E5;
    background-color: #FFFFFF;
    color: #173A56;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal; 
    font-size: 16px;
    line-height: auto;
    letter-spacing: none;
    text-align: center;
}
.sign-in:hover {
    background-color: #BCD0E5;
    color: white;
  }

.sign-up{
    width: 102px;
    height: 46px;
    margin-left: 14px;
    margin-top: 50px;
    border-radius: 6px;
    border-color: #FF9900;
    background-color: #FF9900;
    color: #FFFFFF;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal; 
    font-size: 16px;
    line-height: auto;
    letter-spacing: none;
    text-align: center;
}
.sign-up:hover {
    background-color: #ff9900d0;
    color: white;
  }
.sign-up-now{
    width: 175px;
    height: 53px;
    margin-left: 600px;
    margin-top: 34px;
    border-radius: 6px;
    border-color: #FF9900;
    background-color: #FF9900;
    color: #FFFFFF;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal; 
    font-size: 16px;
    line-height: auto;
    letter-spacing: none;
    text-align: center;
   /* display: grid;
    gap: 10px;*/    /*couldn't make this work properly*/
    
}
.sign-up-now:hover {
    background-color: #ff9900d0;
    color: white;
  }


/*Paragraphs*/
.p1{
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;      
  font-size: 16px;
  line-height: auto;
  letter-spacing: none;
  width: 100%;
  max-width: 518px;
  margin-top: 26px;
  color: #544837;
}
.p2{
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;      
  font-size: 36px;
  line-height: auto;
  letter-spacing: none;
  width: 100%;
  max-width: 518px;
  margin-top: 3px;
  color: #2F281E;
}
.p3{
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;      
  font-size: 16px;
  line-height: 26px;
  letter-spacing: none;
  width: 100%;
  max-width: 486px;
  margin-top: 22px;
  color: #544837;
}
.p4{
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;      
  font-size: 16px;
  line-height: 26px;
  letter-spacing: none;
  width: 100%;
  max-width: 486px;
  margin-top: 22px;
  color: #2F281E;
}
.p5{
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;      
  font-size: 16px;
  line-height: 26px;
  letter-spacing: none;
  width: 100%;
  max-width: 486px;
  margin-top: 12px;
  color: #544837;
}




